* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --main-color: #008cff;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  background: #080808;
  color: #fff;
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url(images/background.jpg);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: 80%;
}

.container {
  padding: 1rem 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  margin-top: 1.4rem;
}

.logo {
  width: 26rem;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 1rem 2rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--main-color);
  position: absolute;
  left: 0px;
  bottom: -6px;
  transition: 0.4s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 17%;
  font-size: 3.2rem;
}

.header-text p {
  color: #529fde;
}

.header-text h1 {
  font-size: 5rem;
  margin-top: 2rem;
}

/* ----------about---------- */
#about {
  padding: 8rem 0;
  color: #ababab;
  font-size: 1.6rem;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 85%;
  border-radius: 1.5rem;
}

.about-col-2 {
  flex-basis: 60%;
}

.about-col-2 > p {
  margin-top: 1rem;
  font-size: 1.6rem;
}

.sub-title {
  font-size: 6rem;
  font-weight: 600;
  color: #fff;
}

.tab-titles {
  display: flex;
  margin: 4rem 0;
}

.tab-links {
  margin-right: 5rem;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--main-color);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 3rem 0;
}

.tab-contents ul li span {
  color: #2a8ad9;
  font-size: 1.4rem;
}

.tab-contents {
  display: none;
}

.tab-contents i {
  color: var(--main-color);
  font-size: 4rem;
}

.tab-contents.active-tab {
  display: block;
}

.skills-icon {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.skill-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: scale 0.5s;
}

.skill-icon:hover {
  scale: 1.1;
}

/* ----------------portfolio------------- */

#portfolio {
  padding: 5rem 0;
}

#portfolio img {
  height: 100%;
  object-fit: cover;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
  margin-top: 5rem;
}

.work {
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), var(--main-color));
  border-radius: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 4rem;
  text-align: center;
  font-size: 1.4rem;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 2rem;
}

.layer a {
  margin-top: 2rem;
  color: var(--main-color);
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 6rem;
  background: #fff;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.btn {
  display: block;
  margin: 5rem auto;
  width: fit-content;
  border: 1px solid var(--main-color);
  padding: 1.4rem 5rem;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.5s;
  font-size: 1.6rem;
}

.btn:hover {
  background-color: var(--main-color);
}

/* --------------contact--------------- */

#contact .row {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact .mail {
  text-decoration: none;
  color: #fff;
}

.contact p {
  margin-top: 3rem;
}

.contact p i {
  color: var(--main-color);
  margin-right: 1.5rem;
  font-size: 2.5rem;
}

.social-icons {
  margin-top: 3rem;
}

.social-icons a {
  text-decoration: none;
  font-size: 3rem;
  margin-right: 1.5rem;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: var(--main-color);
  transform: translateY(-5px);
}

.btn.btn2 {
  display: inline-block;
  background-color: var(--main-color);
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 2.5rem 0;
  background-color: #262626;
  font-weight: 300;
  font-size: 1.6rem;
}

/* -----------media query----------------- */
nav .fas {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .header-text {
    margin-top: 25%;
    font-size: 2rem;
  }
  .header-text h1 {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 950px) {
  #header {
    background-image: url(images/background.jpg);
    background-position: 50% 30%;
    background-size: 60%;
    height: 90vh;
  }

  .header-text {
    margin-top: 70%;
    font-size: 1.6rem;
    text-align: center;
  }
  .header-text h1 {
    font-size: 3.5rem;
  }

  .logo {
    width: 20rem;
  }

  nav ul li a {
    font-size: 1.4rem;
  }

  .sub-title {
    font-size: 4rem;
  }

  .work-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 760px) {
  nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0.8rem 0.8rem;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 {
    margin-bottom: 3rem;
  }
  .about-col-1 {
    font-size: 1.4rem;
    text-align: center;
  }

  .about-col-1 img {
    width: 55%;
  }
  .about-col-2 .sub-title {
    text-align: center;
  }
}

@media only screen and (max-width: 640px) {
  .work-list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  #header {
    background-image: url(images/background.jpg);
    background-position: 50% 30%;
    background-size: 60%;
    height: 90vh;
  }

  .header-text {
    margin-top: 90%;
    font-size: 1.6rem;
    text-align: center;
  }
  .header-text h1 {
    font-size: 2.5rem;
  }

  nav .fas {
    display: block;
    font-size: 2.5rem;
    margin-top: 1rem;
  }

  nav ul {
    background-color: rgb(8, 50, 87);
    position: fixed;
    top: 0;
    right: -20rem;
    width: 20rem;
    height: 100vh;
    padding-top: 5rem;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li {
    display: block;
    margin: 2.5rem;
  }

  nav ul .fas {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    cursor: pointer;
  }

  .sub-title {
    font-size: 4rem;
  }

  .tab-links {
    font-size: 1.6rem;
    margin-right: 2rem;
  }

  .tab-contents i {
    color: var(--main-color);
    font-size: 3rem;
  }

  .copyright {
    font-size: 1.4rem;
  }
}
